.App {
  text-align: center;
}
img{
  object-fit: cover;
}
.card{
  width: 100%;
  height: 95%;
  overflow: hidden;
}
.card img{
  width: 163px;
  /* width: 100%; */
  height: 100px;
  /* height: auto; */
  object-fit: cover;
}


.barra-busqueda .btn-buscar{
  padding: 4px 17px;
  border-radius: 10px;
  background-color: #9292bd;
  border: none;
}
.barra-busqueda .btn-buscar:hover{
  background-color:#3f5467;
  transition:background-color ease-in 0.2s;
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
